@model HandKrossBlog.Models.BlogPost


@foreach (var item in Model.BlogPostComments.OrderBy(x => x.Date))
{
    <div class="row">
        <div class="col-sm-8">
            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">@item.User el @item.Date.ToString("dd/MM/yyyy, HH:mm")</h5>
                    @item.Text
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalEdit" onclick="prepareCommentToEdit('@item.BlogPostId', '@item.Id', '@item.Text.ToString()')">Edit</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalDelete" onclick="prepareCommentToDelete('@item.BlogPostId', '@item.Id')">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}
